.search {
    margin-left: 6px;
    width: 500px;
    height: 53px;
}

.icon {
    margin-left: 20px;
    margin-right: 20px;
}

.general {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 520px;
}
