<div>
    <button mat-raised-button (click)="goBack()"><mat-icon>arrow_back</mat-icon> Back </button>
</div>
<div *ngIf="apiDone">
    <img src={{country!.flags.png}}>
    <p>{{country!.name.common}}</p>
    <p>Native Name: {{country!.name.official}}</p>
    <p>Population: {{country!.population}}</p>
    <p>Region: {{country!.region}}</p>
    <p>Sub region: {{country!.subregion}}</p>
    <p>Capital: {{country!.capital}}</p>
    <p>Top level Domain: {{country!.tld}}</p>
    <p>Currencies: <span *ngFor="let currency of currencies">
        {{currency}},
    </span></p>
    <p>Languages: <span *ngFor="let language of languages">
        {{language}},
    </span></p>
    <p>Borders: <span *ngFor="let code of country!.borders">
        <a routerLink="/detail/{{code}}">{{code}},</a>
    </span></p>
</div>
<div *ngIf="!apiDone">
    <app-loading-screen></app-loading-screen>
</div>