.flex-stretcher {
    flex: 1 0 auto;
}

.home {
    margin-left: 10px;
}

.home:hover {
    cursor: pointer;
    color: grey;
}

.logo {
    margin-left: 10px;
    margin-right: 10px;
    transform: scale(2);
}

.logo:hover{
    cursor: pointer;
}

.logo-stretcher {
    flex: 0 1 auto;
}

.darkMode {
    margin-right: 60px;
}
