.filter {
    width: 100px;
}

.label {
    margin-left: 10px;
}

.general {
    margin-right: 20px;
    margin-left: 20px;
    width: 140px;
}

.icon {
    margin-left: 15px;
}

.icon:hover {
    cursor: pointer;
}

.flex-stretcher {
    flex: 1 0 auto;
}
