<mat-grid-list cols="4" rowHeight="4:1">
    <mat-grid-tile class="tile" colspan="2">
        <div class="flex-stretcher1"></div>
        <app-searchbar (searchVal)="updateSearchCriteria($event)"></app-searchbar>
        <div class="flex-stretcher2"></div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <app-sorting class="filter" (orderVal)="updateSortingOrder($event)" (fieldVal)="updateSortingCriteria($event)"></app-sorting>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
        <app-filter class="filter" (regionVal)="updateFilterCriteria($event)"></app-filter>
    </mat-grid-tile>
</mat-grid-list>
<app-countries-list *ngIf="apiCallDone" [displayedCountries]="filteredCountries"></app-countries-list>
<div *ngIf="!apiCallDone">
    <div>
    <mat-spinner style="margin: 0 auto"></mat-spinner>
    </div>
</div>